.topNav {
	background-color: #998;
	display: flex;
    justify-content: flex-end;
    height: 80px;
}

.brand {
  color: #f2f2f2;
  text-align: center;
  margin-right:auto;
  margin-left: 2%;
  overflow: hidden;
}

.buy {
	position: relative;
	display: block;
	right: 100px;
	top: 25px;
	margin-left: 10px;
}

.counter {
	position: absolute;
	right: 40px;
	top: 5px;
}

.cart {
	background-image: url(https://cdn0.iconfinder.com/data/icons/shopping-cart-26/1000/Shopping-Basket-02-512.png);
	background-repeat: no-repeat;
	background-size: 70px;
	height: 80px;
	width: 80px;
	right: 0px;
	position: absolute;
	display: block
}