.productContainer {
	display: flex;
	margin: 2%;
}

.imageContainer {
	float: left;
	margin-right: 5%;
	width: 30%;
}

.image {
	height: 500px;
	width: 100%;
}

.productInfo {
	height: 400px;
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 3%;
	text-align: center;
}

.quantity {
	display: block
}

.submitButton {
	margin-top: 50%;
	display: block;
}

.stock {
	display: block;
	color: green
}

