.productPage{
	width: 95%;
	transform: translate(5%, 0%);
	position: relative;
}

.product {
	background-color: ;
	text-align: center;
	margin: 10px;
	width: 250px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.productMetadata{
	margin-bottom: 5px;
}

.image{
	width: 100%;
	
}